{
    "polycule_datasets": {
        "only_single": {
            "1": 100
        },
        "single_and_double": {
            "1": 100,
            "2": 50
        },
        "estimate_large": {
            "1": 200,
            "2": 100,
            "3": 50,
            "4": 20,
            "5": 10,
            "6": 5
        },
        "estimate_medium": {
            "1": 100,
            "2": 50,
            "3": 25,
            "4": 10,
            "5": 50,
            "6": 3
        },
        "estimate_small": {
            "1": 50,
            "2": 25,
            "3": 13,
            "4": 5,
            "5": 3,
            "6": 2
        }

    },
    "available_spots": [
        25,
        50,
        100,
        200,
        400
    ],
    "runs_per_set": 100000,
    "output_format": "text"
}
